body{
	background-color: darkblue;
}
.header{
	display: flex;
	justify-content: space-between;
}
.logo{
	padding-bottom: 5px;
}
nav .nav{
	margin: 20px 0px;
}
.nav{
	display: flex;
	padding-left: 0;
	font-size: 30px;
}
.nav{
	padding-left: 30px;
	font-family: ninobold;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: red;
	font-size: 40px;
}
a:active{
	color: black;
	font-size: 40px;
}
a.active{
	color: red;
}
.container{
	margin: 15px auto;
	max-width: 900px;
	background-color: darkblue;
	}
h1{
	color: white;
	font-size: 100px;
	}	
.test{
	color: white;
	}
.red{
	color: red;
}
footer{
	background-color: white;
	margin-top: 5px;
}
.divider{
	margin-top: 5px;
	height: 30px;
	width: 3px;
	background-color: darkblue;
}
.inline{
	display: inline-block;
}
.icon{
	height: 30px;
	margin: auto 30px;
}
.text-container{
	padding: 100px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.title{
	padding-bottom: 10px;
	font-family: ninobold;
	font-size: 30px;
}
.phone:hover {
	color: white;
	font-size: inherit;
}
.map{
	width: 600px;
	overflow: hidden
}
.contact-ul{
	color: red;
}