.header{
	width: 900px;
	display: flex;
	justify-content: space-between;
}
.logo{
	padding-bottom: 5px;
	margin: 0;
}
nav .nav{
	margin: 20px 0px;
}
.nav{
	display: flex;
	margin: 0;
	padding-left: 0;
	font-size: 30px;
}
.nav{
	padding-left: 30px;
}
a{
	color: white;
	text-decoration: none;
}
.body{
	margin: 15px;
	width: 930px;
	background-color: darkblue;
	}
h1{
	color: white;
	font-size: 100px;
	}	
.test{
	color: white;
	}
.red{
	color: red;
}
footer{
	background-color: white;
	margin-top: 5px;
}
.divider{
	margin-top: 5px;
	height: 30px;
	width: 3px;
	background-color: darkblue;
}
.inline{
	display: inline-block;
}
.icon{
	height: 30px;
	margin: auto 30px;
}