/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: none;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  padding-bottom: 5px;
}

/* nav .nav{
	margin: 20px 0px;
} */
.info {
  padding-right: 20px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  font-size: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  padding-left: 30px;
  font-family: ninobold;
}

a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  font-size: 40px;
}

a:active {
  color: black;
  font-size: 40px;
}

a.active {
  color: red;
}

.container {
  padding: 15px 15px;
  margin: 15px auto;
  max-width: 900px;
  background-color: darkblue;
  -webkit-box-shadow: 0px 0px 800px aqua;
     -moz-box-shadow: 0px 0px 800px aqua;
          box-shadow: 0px 0px 800px aqua;
}

h1 {
  color: white;
  font-size: 100px;
}

.test {
  color: white;
  font-size: 30px;
}

.io {
  text-transform: uppercase;
}

.red {
  color: red;
}

footer {
  background-color: white;
  margin-top: 5px;
}

.divider {
  margin-top: 5px;
  height: 30px;
  width: 3px;
  background-color: darkblue;
}

.inline {
  display: inline-block;
}

.icon {
  height: 30px;
  margin: auto 30px;
}

.text-container {
  padding: 100px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  padding-bottom: 10px;
  font-family: ninobold;
  font-size: 30px;
}

.phone:hover {
  color: white;
  font-size: inherit;
}

.map {
  width: 600px;
  overflow: hidden;
}

.contact-ul {
  color: red;
}

.img {
  width: 100px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.margin {
  padding: 10px;
  background-color: silver;
}

.scroll {
  height: 100px;
  overflow: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: darkblue;
}

.relative {
  position: relative;
}

.rim {
  position: absolute;
  width: 10%;
  right: 30px;
  bottom: 20px;
  -webkit-transition: bottom 1s linear;
  -o-transition: bottom 1s linear;
  -moz-transition: bottom 1s linear;
  transition: bottom 1s linear;
}

.rim:active {
  bottom: 80%;
  -webkit-animation: anim 1s infinite;
     -moz-animation: anim 1s infinite;
       -o-animation: anim 1s infinite;
          animation: anim 1s infinite;
}

.br {
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.textbox {
  width: -webkit-calc(100% - 210px);
  width: -moz-calc(100% - 210px);
  width: calc(100% - 210px);
  resize: none;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  border-color: aquamarine;
  margin: 2px 0;
  padding: 2%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 200px;
  min-height: 200px;
  -webkit-box-shadow: 2px 2px 5px aqua;
     -moz-box-shadow: 2px 2px 5px aqua;
          box-shadow: 2px 2px 5px aqua;
}

.inputflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 4px;
}

.inputbox {
  display: block;
  width: 200px;
}

.inbox {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  border-color: aquamarine;
  margin: 2px 0;
  width: 100%;
  padding: 2%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  -webkit-box-shadow: 2px 2px 5px aqua;
     -moz-box-shadow: 2px 2px 5px aqua;
          box-shadow: 2px 2px 5px aqua;
}

.inbut {
  height: 30px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background-color: aqua;
  border-color: aqua;
  margin: 2px 0;
  width: 100%;
  padding: 2%;
  -webkit-box-shadow: 2px 2px 5px aqua;
     -moz-box-shadow: 2px 2px 5px aqua;
          box-shadow: 2px 2px 5px aqua;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send {
  margin: 0;
  height: 15px;
}

@-webkit-keyframes anim {
  10% {
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes anim {
  10% {
    -moz-transform: rotate(36deg);
         transform: rotate(36deg);
  }
  20% {
    -moz-transform: rotate(72deg);
         transform: rotate(72deg);
  }
  40% {
    -moz-transform: rotate(144deg);
         transform: rotate(144deg);
  }
  60% {
    -moz-transform: rotate(216deg);
         transform: rotate(216deg);
  }
  80% {
    -moz-transform: rotate(288deg);
         transform: rotate(288deg);
  }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@-o-keyframes anim {
  10% {
    -o-transform: rotate(36deg);
       transform: rotate(36deg);
  }
  20% {
    -o-transform: rotate(72deg);
       transform: rotate(72deg);
  }
  40% {
    -o-transform: rotate(144deg);
       transform: rotate(144deg);
  }
  60% {
    -o-transform: rotate(216deg);
       transform: rotate(216deg);
  }
  80% {
    -o-transform: rotate(288deg);
       transform: rotate(288deg);
  }
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes anim {
  10% {
    -webkit-transform: rotate(36deg);
       -moz-transform: rotate(36deg);
         -o-transform: rotate(36deg);
            transform: rotate(36deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
       -moz-transform: rotate(72deg);
         -o-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
       -moz-transform: rotate(144deg);
         -o-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
       -moz-transform: rotate(216deg);
         -o-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
       -moz-transform: rotate(288deg);
         -o-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 675px) {
  .nav {
    padding-left: 5px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  a:hover {
    font-size: inherit;
  }
}
@media (max-width: 455px) {
  .textbox {
    width: 100%;
  }
  .inputbox {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .nav {
    display: block;
    padding: 3px;
  }
  a:hover {
    font-size: inherit;
  }
  .back {
    background-image: url("../images/1.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: 258.55px;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .car {
    display: none;
  }
}
@media (max-width: 253px) {
  .textbox {
    min-width: inherit;
  }
}
@media (max-width: 244px) {
  .nav {
    display: block;
    padding: 3px;
  }
  a:hover {
    font-size: inherit;
  }
  .back {
    background-image: url("../images/1.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: 137.73px;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .car {
    display: none;
  }
  .car {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.bmw-logo {
  background-image: url("/images/bmw-logo.svg");
}

.hyundai-motor-company {
  background-image: url("/images/hyundai-motor-company.svg");
}

.logo {
  background-image: url("/images/logo.svg");
}

.youtube {
  background-image: url("/images/youtube.svg");
}