.header{
	display: flex;
	justify-content: space-between;
}
.logo{
	padding-bottom: 5px;
}
/* nav .nav{
	margin: 20px 0px;
} */
.info {
	padding-right: 20px;
}
.nav{
	display: flex;
	padding-left: 0;
	font-size: 30px;
	align-items: center;
}
.nav{
	padding-left: 30px;
	font-family: ninobold;
}
a{
	transition: all .3s linear;
	color: white;
	text-decoration: none;
}
a:hover{
	color: red;
	font-size: 40px;
}
a:active{
	color: black;
	font-size: 40px;
}
a.active{
	color: red;
}
.container{
	padding: 15px 15px;
	margin: 15px auto;
	max-width: 900px;
	background-color: darkblue;
	box-shadow: 0px 0px 800px aqua;	
	}		
h1{
	color: white;
	font-size: 100px;
	}	
.test{
	color: white;
	font-size: 30px;
	}
.io{
	text-transform: uppercase;
}
.red{
	color: red;
}
footer{
	background-color: white;
	margin-top: 5px;
}
.divider{
	margin-top: 5px;
	height: 30px;
	width: 3px;
	background-color: darkblue;
}
.inline{
	display: inline-block;
}
.icon{
	height: 30px;
	margin: auto 30px;
}
.text-container{
	padding: 100px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.title{
	padding-bottom: 10px;
	font-family: ninobold;
	font-size: 30px;
}
.phone:hover {
	color: white;
	font-size: inherit;
}
.map{
	width: 600px;
	overflow: hidden
}
.contact-ul{
	color: red;
}
.img {
	width: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.margin{
	padding: 10px;
	background-color: silver;
}
.scroll{
	height: 100px;
	overflow: auto;
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	background-color: white;
}
::-webkit-scrollbar-thumb{
	background-color: white;
	border-radius: 50px;
	background-color: darkblue;
}
.relative{
	position: relative;
}
.rim{
	position: absolute;
	width: 10%;
	right: 30px;
	bottom: 20px;
	transition: bottom 1s linear;
}
.rim:active{
	bottom: 80%;
	animation: anim 1s infinite;
}
.br{
	position: absolute;
	left: 30px;
	bottom: 20px;
}
.textbox {
	width: calc(100% - 210px);
	resize: none;
	border-radius: 10px;
	border-color: aquamarine;
	margin: 2px 0;
	padding: 2%;
	box-sizing: border-box;
	min-width: 200px;
	min-height: 200px;
	box-shadow: 2px 2px 5px aqua;
}
.inputflex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 4px;
}
.inputbox {
	display: block;
	width: 200px;
}
.inbox{
	border-radius: 10px;
	border-color: aquamarine;
	margin: 2px 0;
	width: 100%;
	padding: 2%;
	box-sizing: border-box;
	height: 30px;
	box-shadow: 2px 2px 5px aqua;
}
.inbut{
	height: 30px;
	border-radius: 10px;
	background-color: aqua;
	border-color: aqua;
	margin: 2px 0;
	width: 100%;
	padding: 2%;
	box-shadow: 2px 2px 5px aqua;
	display: flex;
	justify-content: center;
}
	.send {
		margin: 0;
		height: 15px;
	}
@keyframes anim {
	10%{
		transform: rotate(36deg);
	}
	20%{
		transform: rotate(72deg);
	}
	40%{
		transform: rotate(144deg);
	}
	60%{
		transform: rotate(216deg);
	}
	80%{
		transform: rotate(288deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@media (max-width: 675px){
	.nav{
		padding-left: 5px;
		flex-wrap: wrap;
	}
	.header{
		flex-wrap: wrap;
	}
	a:hover{
		font-size: inherit;
	}
}
@media (max-width: 455px){
	.textbox{
		width: 100%;
	}
	.inputbox{
		width: 100%;
	}
}
@media (max-width: 450px){
	.nav{
		display: block;
		padding: 3px;
	}
	a:hover{
		font-size: inherit;
	}
	.back{
		background-image: url('../images/1.webp');
		background-repeat: no-repeat;
		width:  100%;
		height: 258.55px;
		background-position: center center;
		background-size: cover
	}
	.car{
		display: none;
	}
}
@media (max-width: 253px){
	.textbox{
		min-width: inherit;
	}
}
@media (max-width: 244px){
	.nav{
		display: block;
		padding: 3px;
	}
	a:hover{
		font-size: inherit;
	}
	.back{
		background-image: url('../images/1.webp');
		background-repeat: no-repeat;
		width:  100%;
		height: 137.73px;
		background-position: center center;
		background-size: cover
	}
	.car{
		display: none;
	}
	.car{
		display: flex;
	}
}
@each $icons in bmw-logo, hyundai-motor-company, logo, youtube {
	.#{$icons}{
		background-image: url('/images/#{$icons}.svg');
	}
}