.container{
	@extend %container;
	.header{
		@include flex(space-between);
		.logo{
			padding-bottom: 5px;
		}
		.nav{
			@include flex(flex-end);
			font-size: 30px;
			padding-left: 30px;
			font-family: ninobold;
			.nav{
				a{
					transition: all .3s linear;
					color: $white;
					text-decoration: none;
				}
				a:hover{
					color: $blue;
					font-size: 40px;
				}
				a:active{
					color: $aqua;
					font-size: 40px;
				}
				a.active{
					color: $aqua;
				}
				.info {
					padding-right: 20px;
				}
			}
		}
	}
	.banner{
		position: relative;
		.rim{
			@include absolute(unset, 30px, 20px);
			width: 10%;
			transition: bottom 1s linear;
		}
		.rim:active{
			bottom: 80%;
			animation: anim 1s infinite;
		}
		.br{
			@include absolute(unset, unset, 20px, 30px);
		}
	}
	.content{
		h1{
			color: $white;
			font-size: 100px;
		}	
		.test{
			color: $white;
			font-size: 30px;
		}
		.io{
			text-transform: uppercase;
		}
		.scroll{
			height: 100px;
			overflow: auto;
			scroll-behavior: smooth;
			.img {
				width: 100px;
				float: left;
				margin-right: 20px;
				margin-bottom: 10px;
			}
		}
		::-webkit-scrollbar {
			background-color: $white;
		}
		::-webkit-scrollbar-thumb{
			background-color: $white;
			border-radius: 50px;
			background-color: $darkblue;
		}

	}
	footer{
		background-color: $white;
		margin-top: 5px;
		.icon{
			height: 30px;
			margin: auto 30px;
		}
		.divider{
			margin-top: 5px;
			height: 30px;
			width: 3px;
			background-color: $darkblue;
		}
	}
}

.inline{
	display: inline-block;
}

.margin{
	padding: 10px;
	background-color: silver;
}

@each $icons in bmw-logo, hyundai-motor-company, logo, youtube {
	.#{$icons}{
		background-image: url('/images/#{$icons}.svg');
	}
}